<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="ru.rocketbank.r2d2">
    <instrumentation android:name=".TestRunner" android:targetPackage="ru.rocketbank.r2d2"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <permission android:name="android.permission.NFC"/>
    <permission android:name="android.permission.VIBRATE"/>
    <permission android:name="android.permission.READ_CONTACTS"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="ru.rocketbank.r2d2.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="ru.rocketbank.r2d2.permission.C2D_MESSAGE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <application android:networkSecurityConfig="@xml/network_security_config" android:allowBackup="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="ru.rocketbank.r2d2.RocketApplication" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="false" android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/google_maps_api_key"/>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <provider android:authorities="ru.rocketbank.r2d2.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <service android:exported="false" android:name="ru.rocketbank.r2d2.firebase.RocketFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="ru.rocketbank.r2d2.firebase.RocketFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.root.lead.LandingActivity" android:screenOrientation="portrait" android:theme="@style/Theme.App"/>
        <activity android:name="ru.rocketbank.r2d2.activities.StartupActivity" android:noHistory="true" android:screenOrientation="portrait" android:theme="@style/Rocket.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="rocketbank.ru" android:pathPrefix="/reset_code" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="reset_short_code" android:scheme="rocketbank"/>
            </intent-filter>
            <intent-filter>
                <action android:name="ru.rocketbank.r2d2.action.ANDROID_PAY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="kitchen" android:scheme="rocketbank"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="ru.rocketbank.r2d2.activities.ChangeCodeActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="stateVisible"/>
        <activity android:label="@string/cba_title" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.CardBlockActivity" android:screenOrientation="portrait" android:theme="@style/Theme.App"/>
        <activity android:name="ru.rocketbank.r2d2.activities.DiscountDetailsActivity" android:screenOrientation="portrait" android:theme="@style/Theme.App"/>
        <activity android:name="ru.rocketbank.r2d2.activities.AdminProfileActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:name="ru.rocketbank.r2d2.root.lead.EnterPhoneActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name="ru.rocketbank.r2d2.root.lead.SmsConfirmationActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:configChanges="keyboardHidden" android:name="ru.rocketbank.r2d2.activities.CodeResetActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:configChanges="keyboardHidden" android:launchMode="singleTask" android:name="ru.rocketbank.r2d2.activities.MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:label="@string/pa_title" android:name="ru.rocketbank.r2d2.activities.ProfileActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:label="@string/ada_title" android:name="ru.rocketbank.r2d2.activities.AccountDetailsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:label="Оплата услуг" android:name="ru.rocketbank.r2d2.activities.ProvidersActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:label="Перевод" android:name="ru.rocketbank.r2d2.activities.TransferToCardActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/fragment_support_title" android:name="ru.rocketbank.r2d2.activities.SupportChatActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:label="@string/fragment_support_title" android:name="ru.rocketbank.r2d2.registration.SupportChatLeadActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:label="@string/photo_view_title" android:name="ru.rocketbank.r2d2.activities.PhotoViewActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/pda_title" android:name="ru.rocketbank.r2d2.payment.PaymentDetailsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.FirstRefillActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/cash_refill_title" android:name="ru.rocketbank.r2d2.activities.CashRefillActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/rmfca_title" android:name="ru.rocketbank.r2d2.activities.RequestMoneyFromContactActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:label="@string/smtca_title" android:name="ru.rocketbank.r2d2.activities.SendMoneyToContactActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:label="Аналитика" android:name="ru.rocketbank.r2d2.activities.AnalyticsActivity" android:screenOrientation="portrait"/>
        <activity android:label="Позвать друзей" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.friends.InviteFriendsActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Transparent"/>
        <activity android:name="ru.rocketbank.r2d2.activities.VideoActivity" android:screenOrientation="landscape" android:theme="@style/Theme.AppCompat.Light.NoActionBar.Fullscreen"/>
        <activity android:name="ru.rocketbank.r2d2.activities.ChangePhoneActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:label="@string/title_activity_migration" android:name="ru.rocketbank.r2d2.activities.MigrationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.LightToolbar"/>
        <activity android:label="@string/title_activity_friend_transfer" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.friends.FriendActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.LightToolbar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.friends.InviteFriendsInfoActivity" android:theme="@style/FullscreenTheme"/>
        <activity android:name="ru.rocketbank.r2d2.friends.RefillRequestActivity" android:theme="@style/AppTheme.LightToolbar"/>
        <activity android:name="ru.rocketbank.r2d2.friends.TransferRequestActivity" android:theme="@style/AppTheme.LightToolbar"/>
        <activity android:name="ru.rocketbank.r2d2.registration.RegistrationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.LightToolbar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.fragments.transfers.BankAmountActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:name="ru.rocketbank.r2d2.root.operation.DetailOperationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.OperationActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="ru.rocketbank.r2d2.root.operation.DetailRocketrubleOperationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.OperationActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="ru.rocketbank.r2d2.activities.operation.OperationTagActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.OperationActivity"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.friends.FriendsStatusActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.payment.PaymentStatusActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:name="ru.rocketbank.r2d2.activities.operation.OperationListActivity"/>
        <service android:exported="false" android:name="ru.rocketbank.core.service.DownloadService"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="io.card.payment.CardIOActivity"/>
        <activity android:name="io.card.payment.DataEntryActivity"/>
        <activity android:label="@string/cra_title" android:launchMode="singleInstance" android:name="ru.rocketbank.r2d2.activities.FromCardRefillActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBarWhite" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED" android:resource="@xml/nfc_tech_filter"/>
        </activity>
        <activity android:label="@string/transfer_title" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.c2c.CardTransferAmountActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:label="@string/transfer_title" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.c2c.CardRefillActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:label="@string/confirming" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.c2c.Enter3dSecActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/transfer_title" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.c2c.CardRefillAmountActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:label="@string/transfer_title" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.c2c.CvvEnterActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:label="@string/transfer_title" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.c2c.CardTransferProcessActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:label="@string/transfer_title" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.safe.TransferActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.ChangeCodewordActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.safe.CloseSafeStatusActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.charges.ChargePaymentDetailsActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.charges.ChargesListActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.charges.penalty.PenaltyChargeInfoActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.charges.tax.TaxChargeInfoActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.charges.ChargePayStatusActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:label="@string/penalty_tax_notification" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.charges.ChargeNotificationActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.friends.ChooseFriendActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:label="@string/sounds" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.sound.SoundActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:configChanges="keyboardHidden" android:launchMode="singleTask" android:name="ru.rocketbank.r2d2.activities.DiscountsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <receiver android:exported="true" android:name="com.appsflyer.SingleInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:label="@string/references" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.ReferencesActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/download" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.DownloadActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/reference" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.PdfViewActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.root.delivery.DeliveryActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="ru.rocketbank.r2d2.activities.card.CardLimitActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:launchMode="singleTask" android:name="ru.rocketbank.r2d2.activities.tariffs.SalaryTariffInstructionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:label="@string/fragment_tariffs_title" android:launchMode="singleTask" android:name="ru.rocketbank.r2d2.activities.tariffs.TariffsActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/cart_activity_title" android:launchMode="singleTask" android:name="ru.rocketbank.r2d2.shop.cart.ShopCartActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.shop.details.ShopDetailsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.fragments.rocketrouble.RocketRubleInfoActivity" android:screenOrientation="portrait" android:theme="@style/FullscreenTheme"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.shop.order.ShopOrderActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.shop.order.ShopStatusActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="ru.rocketbank.r2d2.activities.rocketkitchen.RocketCafeActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <service android:exported="false" android:name="ru.rocketbank.r2d2.service.SendLocationIntentService"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.shop.order.ShopInfoActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.root.devidepayment.ap.APAddCardActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.root.devidepayment.ap.APManageCardActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_sp_add_card" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.root.devidepayment.sp.SPAddCardActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.registration.new_passport.NewPassportActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.LightToolbar"/>
        <activity android:label="@string/title_activity_wep_auth" android:launchMode="singleTop" android:name="ru.rocketbank.r2d2.activities.webauth.Sec3dActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.RocketNoActionBar"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="0a233725263bbbd77d6c94753acf342e9e68ba19"/>
        <meta-data android:name="debug_mode" android:value="N"/>
        <meta-data android:name="spay_sdk_api_level" android:value="1.8"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="ru.rocketbank.r2d2"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"/>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="ru.rocketbank.r2d2.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <provider android:authorities="ru.rocketbank.r2d2.crashlyticsinitprovider" android:exported="false" android:initOrder="100" android:name="com.crashlytics.android.CrashlyticsInitProvider"/>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
    </application>
</manifest>